body {
    margin: 0;
}
.header {
    background-image: url(images/wallpaper.jpg);
    color: #00a1c9;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
  }
  .colormenu{
    background-color: #222f3e;
  }
  
  .logo {
    
    height: 92px;
    width: 130px;
    padding: 5px;
    margin-left: 5px;
    position: relative;
    align-items: center;
    border-radius: 50%;
  }
  .collapse {
    align-items: center;
    justify-content: center;
    background-color: #222f3e;
  }
  .navbar-nav li .dropdown {
  color: #00a1c9;
  }
  .main-content {
    color: #202020;
    margin: auto;
    text-align: center;
    -webkit-box-shadow: 4px 4px 10px #a5a4a4;
            box-shadow: 4px 4px 10px ;
    width: 100%;
    max-width: 1200px;
    min-height: 500px;
    top: 15px;
    position: relative;
    z-index: -99;
  }
  .footer {
    background-image: url(images/wallpaper.jpg);
    color: #feca57;
    width:100%;
    height:auto;
    justify-content: center;
    text-align: center;
  }