body {
    margin: 0;
    font-family: 'Jura', sans-serif;
}
.header {
    background-image: url(images/wallpaper.jpg);
    color: #00a1c9;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
}
.colormenu{
    background-color: #222f3e;
} 
.logo {
    height: 92px;
    width: 130px;
    padding: 5px;
    margin-left: 5px;
    position: relative;
    align-items: center;
    border-radius: 50%;
}
h1,h4{
    position:relative;
    align-content: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    color: #feca57;
} 
.collapse {
    align-items: center;
    justify-content: center;
    background-color: #222f3e;
}
.navbar-nav li .dropdown {
  color: #00a1c9;
}
.main-content {
    color: #202020;
    margin: auto;
    text-align: center;
    -webkit-box-shadow: 4px 4px 10px #a5a4a4;
            box-shadow: 4px 4px 10px ;
    width: 100%;
    max-width: 1200px;
    min-height: 500px;
    top: 15px;
    position: relative;
    z-index: -99;
}
.main-content-contact {
    color: #202020;
    margin: auto;
    text-align: center;
    -webkit-box-shadow: 4px 4px 10px #444343;
            box-shadow: 4px 4px 10px #444343;
    width: 100%;
    max-width: 1200px;
    min-height: 500px;
    position: relative;
    top: 120px;
}
.resau {
  height: 50px;
  width: 50px;
  display: inline-flex;
  justify-content: center;
}
  .carousel-slide-border {
    position: relative;
    z-index: -99;
    
}
.main-content p {
    text-align: left;
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
}
.card {
  margin: auto;
  top: 15px;
}
.card-title {
    font-weight: bold;
}
.modal-body img {
  display: block;
  margin: auto;
}
.img-modal {
    float: left;
    padding: 3.5%;
}
.footer {
  background-image: url(images/wallpaper.jpg);
  color: #feca57;
  width:100%;
  height:auto;
  justify-content: center;
  text-align: center;
}
.footer-end {
  background-image: url(images/wallpaper.jpg);
  color: #feca57;
  position:relative;
  bottom: -206px;
  width:100%;
  padding-top:0;
  height:auto;
  justify-content: center;
  text-align: center;
}
p {
  font-size:large;
  padding: 2%;
}
h3 {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
}
h3 span {
  display: block;
  transform: translateY(120px);
  position: relative;
  overflow: hidden;
  animation: 0.9s titleAnimation cubic-bezier(0, 0.55, 0.45, 1) forwards;
}
.anim p {
  text-align: center;
  display: block;
  transform: translatex(90px);
  position: relative;
  overflow: hidden;
  animation: 1s titleAnimation cubic-bezier(0, 0.55, 0.45, 1) forwards;
}
@keyframes titleAnimation {
  to {
      transform: initial;
  }
}
h4 {
    font-size:larger;
    text-align: center;
}
.text-center  {
    padding: 2%;
}
section {
    padding: 1%;
  }
